<h1>AbinayaPage1#home</h1>
<p>Find me in app/views/page1/home.html.erb</p>

<table>
	<thead>
		<tr>
			<th> Projects </th>
			<th></th>
			<th> Description </th>
			<th></th>
			<th> URL </th>
		</tr>
	</thead>
	<tbody>
<% PROJECTS.each do |project, details| %>
<tr>
	<td> <%= project %> </td>
	<td></td>
	<td> <%= details ['description'] %> </td>
	<td></td>
	<td> <%= link_to details ['url'] , details ['url'] %> </td>
	</tr>
<% end %>
</tbody>
</table>
